.advenced{
    /* width: 100px; */
}
.practice{
    text-align: center;
    color: blue;
}
.textarea{
    border-radius: 5px;
    background-color: aqua;
}
.devolopment{
    color: blue;
}
/* .simple{
    
} */
 
 .recommended{
    background-color: darkgray;
    border-radius: 20px;
 }